.about-company {
  position: relative;
  padding-top: 2.688vw;
  margin-bottom: 8.3vw;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    max-width: 43.75vw;
  }

  &__title {
    position: relative;
    top: 1.5vw;
    margin-bottom: 3.5vw;
    h2 {
      text-transform: uppercase;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
    .text-page {
      margin: 0;
    }
  }

  &__img {
    flex-shrink: 0;
    width: 35.417vw;
    height: 37.656vw;
    border-radius: 10px;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__anim {
    position: absolute;
    right: -3vw;
    top: 35vw;
    width: 100%;
    height: 12.031vw;
  }
}
