.carrier {
  position: relative;
  padding-top: 2.688vw;
  margin-bottom: 8.3vw;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    width: 100%;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 2.083vw;
  }

  &__title {
    position: relative;
    top: 1.5vw;
    margin-bottom: 3.5vw;
    h2 {
      text-transform: uppercase;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 1.042vw;
    .text-page {
      margin: 0;
      font-size: 1.042vw;
      line-height: 1.563vw;
    }
  }

  &__img {
    flex-shrink: 0;
    width: 42.708vw;
    height: 32.813vw;
    border-radius: 10px;
    mix-blend-mode: color-dodge;
    overflow: hidden;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  &__anim {
    position: absolute;
    right: 4vw;
    top: 30.5vw;
    width: 100%;
    height: 12.031vw;
  }
}
