.mission {
  padding-top: 3.1vw;
  margin-bottom: 7vw;
}

.mission-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  .title-page {
    margin-bottom: 1.3vw;
  }
}

.mission-text {
  max-width: 49.5vw;
  margin-bottom: 2.604vw;
}
.mission-img {
  width: 100%;
  height: 16vw;
  margin-bottom: 2.083vw;
  border-radius: 10px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
