<section class="about-history">
  <div class="about-history__container container">
    <div class="title-page about-history__title">
      <h2>История Компании</h2>
      <span>История Компании </span>
    </div>

    <div class="about-history__items swiper">
      <div class="about-history__wrapper swiper-wrapper">
        <div class="about-history__item history swiper-slide">
          <span class="history-date">2002</span>
          <div class="history-content">
            <div class="history-decor">
              <span></span>
            </div>
            <p class="text-page history-text">
              Компания КТТ была основана в 2002 году и сегодня является одним из
              крупнейших трейдеров на рынке нефтепродуктов в Северо-Западном
              регионе.
            </p>
          </div>
        </div>

        <div class="about-history__item history swiper-slide">
          <span class="history-date">2005</span>
          <div class="history-content">
            <div class="history-decor">
              <span></span>
            </div>
            <p class="text-page history-text">
              На протяжении 15 лет основной специализацией компании был трейдинг
              нефтепродуктов на внутреннем и экспортном рынках.
            </p>
          </div>
        </div>

        <div class="about-history__item history swiper-slide">
          <span class="history-date">2019</span>
          <div class="history-content">
            <div class="history-decor">
              <span></span>
            </div>
            <p class="text-page history-text">
              В октябре 2019 года КТТ становится первым в России экспедитором по
              перевалке различных марок битумов на танкеры с последующей
              отправкой на экспорт.
            </p>
          </div>
        </div>

        <div class="about-history__item history swiper-slide">
          <span class="history-date">2023</span>
          <div class="history-content">
            <div class="history-decor">
              <span></span>
            </div>
            <p class="text-page history-text">
              На сегодняшний день КТТ входит в десятку трейдеров на
              Санкт-Петербургской международной товарно-сырьевой бирже.
            </p>
          </div>
        </div>
      </div>
      <div class="history-pagination">
        <button class="btn btn-reset btn--small history-prev">
          <svg>
            <use xlink:href="#btn"></use>
          </svg>
        </button>

        <button class="btn btn-reset btn--small history-next">
          <svg>
            <use xlink:href="#btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
