<section class="about main-shadow" id="about">
  <div class="about-container">
    <div class="about-content">
      <div class="title-page about-title">
        <h2>О компании</h2>
        <span>О компании</span>
      </div>
      <p class="text-page about-text">
        Компания КТТ работает на рынке более 20 лет. Основные сферы деятельности
        компании включают в себя продажу нефтепродуктов на внутреннем и
        зарубежном рынках, продажу и поставку бункерного топлива, предоставление
        транспортно-экспедиторских услуг.
      </p>
      <button class="btn btn-reset btn--primary">
        <svg>
          <use xlink:href="#btn"></use>
        </svg>
        <span>Подробнее</span>
      </button>
    </div>

    <div class="about-images animation-images" data-da=".about-content,600,2">
      <picture>
        <source srcset="img/about-off.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/about-off.png"
          class="image about-img--off animation-img--off"
          alt="Image off"
        />
      </picture>

      <picture>
        <source srcset="img/about-on.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/about-on.png"
          class="image about-img--on animation-img--on"
          alt="Image on"
        />
      </picture>
    </div>
  </div>

  <svg class="about-horizontal__anim">
    <use xlink:href="#about-horizontal-anim"></use>
  </svg>
</section>
