<section class="about-company">
  <div class="about-company__container container">
    <div class="about-company__inner">
      <div class="about-company__content">
        <div class="title-page hero-title about-company__title">
          <h1>о компании</h1>
          <span>о компании</span>
        </div>
        <div class="about-company__text">
          <p class="text-page hero-text">
            ООО «Компания «Топливные технологии» работает на рынке трейдинга и
            поставок нефтепродуктов с 2002 года. Сегодня основными направлениями
            деятельности компании являются продажа нефтепродуктов на внутреннем
            и зарубежном рынках, продажа и поставка бункерного топлива,
            предоставление транспортно-экспедиторских услуг на основных
            терминалах
          </p>

          <p class="text-page hero-text">
            Северо-Западного региона и терминалах Черноморско-Азовского
            бассейна. КТТ входит в десятку трейдеров на Санкт-Петербургской
            международной товарно-сырьевой бирже.
          </p>
        </div>
      </div>

      <div class="swiper about-company__swiper">
        <div class="swiper-wrapper about-company__wrapper">
          <div class="swiper-slide about-company__slide about-company__img">
            <picture>
              <source srcset="img/about.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/about.png"
                class="image"
                alt="About"
              />
            </picture>
          </div>

          <div class="swiper-slide about-company__slide about-company__img">
            <picture>
              <source srcset="img/about.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/about.png"
                class="image"
                alt="About"
              />
            </picture>
          </div>

          <div class="swiper-slide about-company__slide about-company__img">
            <picture>
              <source srcset="img/about.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/about.png"
                class="image"
                alt="About"
              />
            </picture>
          </div>

          <div class="swiper-slide about-company__slide about-company__img">
            <picture>
              <source srcset="img/about.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/about.png"
                class="image"
                alt="About"
              />
            </picture>
          </div>
        </div>

        <div class="about-company__pagination swiper-pagination"></div>
      </div>

      <svg class="about-company__anim">
        <use xlink:href="#about-company-anim"></use>
      </svg>
    </div>

    <a href="#about-grid" class="scroll-to main-scroll" data-scroll>
      <svg>
        <use xlink:href="img/sprite.svg#scrollTo"></use>
      </svg>
      <span>Подробнее</span>
    </a>
  </div>
</section>
