<section class="about-grid" id="about-grid">
  <div class="about-grid__container">
    <div class="about-grid__content">
      <div class="container">
        <div class="title-page about-grid__title">
          <h2>О нас</h2>
          <span>О нас</span>
        </div>
        <p class="text-page about-grid__text">
          Компания имеет многолетний опыт сотрудничества с ведущими
          нефтеперевалочными терминалами на территории России, нефтебазами
          Центрального региона, а также портами Балтийского и Азовского
          бассейна. Кроме того, за время работы компания КТТ выстроила
          долгосрочные партнерские взаимоотношения с большинством
          вертикально-интегрированных нефтяных компаний России и крупными
          транспортными компаниями. Совокупность данных факторов позволяет
          поддерживать высочайший уровень качества поставляемой продукции,
          предоставлять максимально выверенные логистические решения и
          обеспечивать конкурентный уровень стоимости услуг.
        </p>
      </div>
    </div>

    <div class="swiper about-grid__images grid-images">
      <div class="swiper-wrapper grid-wrapper">
        <div class="grid-img swiper-slide">
          <picture>
            <source srcset="img/grid1.webp" type="image/webp" />
            <img loading="lazy" src="img/grid1.png" class="image" alt="Image" />
          </picture>
        </div>

        <div class="grid-img swiper-slide">
          <picture>
            <source srcset="img/grid2.webp" type="image/webp" />
            <img loading="lazy" src="img/grid2.png" class="image" alt="Image" />
          </picture>
        </div>

        <div class="grid-img swiper-slide">
          <picture>
            <source srcset="img/grid3.webp" type="image/webp" />
            <img loading="lazy" src="img/grid3.png" class="image" alt="Image" />
          </picture>
        </div>

        <div class="grid-img swiper-slide">
          <picture>
            <source srcset="img/grid4.webp" type="image/webp" />
            <img loading="lazy" src="img/grid4.png" class="image" alt="Image" />
          </picture>
        </div>

        <div class="grid-img swiper-slide">
          <picture>
            <source srcset="img/grid5.webp" type="image/webp" />
            <img loading="lazy" src="img/grid5.png" class="image" alt="Image" />
          </picture>
        </div>

        <div class="grid-img swiper-slide">
          <picture>
            <source srcset="img/grid6.webp" type="image/webp" />
            <img loading="lazy" src="img/grid6.png" class="image" alt="Image" />
          </picture>
        </div>
      </div>

      <div class="grid-pagination">
        <button class="btn btn-reset btn--small grid-prev">
          <svg>
            <use xlink:href="#btn"></use>
          </svg>
        </button>

        <button class="btn btn-reset btn--small grid-next">
          <svg>
            <use xlink:href="#btn"></use>
          </svg>
        </button>
      </div>
    </div>

    <div class="about-grid__text container">
      <p class="text-page">
        Компания зарекомендовала себя как надежный и профессиональный партнер не
        только в сфере поставок нефтепродуктов на внутреннем и экспортном
        рынках, но и в сфере бункеровочных услуг.
      </p>

      <p class="text-page">
        С 2017 года компания успешно занимается продажами и поставкой бункерного
        топлива в «Большом порту Санкт-Петербурга». Клиенты КТТ – судоходные
        компании со всего мира. Команда ООО «КТТ» объединила в своем составе
        профессионалов сферы трейдинга и поставок нефтепродуктов, средний опыт
        работы сотрудников в отрасли – более 15 лет.
      </p>

      <p class="text-page">
        С момента основания компания КТТ придерживается принципов экологической
        безопасности проводимых технологических процессов, что соответствует
        общепринятой практике компаний, работающих в нефтегазовой сфере.
      </p>
    </div>
  </div>

  <svg class="about-grid__anim">
    <use xlink:href="#about-grid-anim"></use>
  </svg>

  <svg class="about-company__anim">
    <use xlink:href="#about-company-anim"></use>
  </svg>
</section>
