<section class="business main-shadow">
  <div class="business-container">
    <div class="business-inner">
      <div class="business-images animation-images">
        <picture>
          <source srcset="img/business-off.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/business-off.png"
            class="image business-img--off animation-img--off"
            alt="Image off"
          />
        </picture>

        <picture>
          <source srcset="img/business-on.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/business-on.png"
            class="image business-img--on animation-img--on"
            alt="Image on"
          />
        </picture>
      </div>
      <div class="business-content business-content--quote">
        <div class="title-page business-title">
          <h2>Направления Деятельности</h2>
          <span>Направления Деятельности</span>
        </div>
        <p class="text-page business-text">
          Компания КТТ работает на рынке более 20 лет. Основные сферы
          деятельности компании включают в себя продажу нефтепродуктов на
          внутреннем и зарубежном рынках, продажу и поставку бункерного топлива,
          предоставление транспортно-экспедиторских услуг.
        </p>
        <button class="btn btn-reset btn--primary">
          <svg>
            <use xlink:href="#btn"></use>
          </svg>
          <span>Подробнее</span>
        </button>

        <svg class="business-content__anim">
          <use xlink:href="#business-content-anim"></use>
        </svg>
      </div>
    </div>

    <div class="swiper business-swiper">
      <div class="business-items swiper-wrapper">
        <div class="business-card swiper-slide">
          <div class="business-card__img">
            <picture>
              <source srcset="img/business1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/business1.png"
                class="image"
                alt="Business img"
              />
            </picture>
          </div>
          <h3 class="business-card__title">
            Поставка нефᴛепродуктов на внутреннем рынке
          </h3>
          <span class="business-card__num">01</span>
        </div>

        <div class="business-card swiper-slide">
          <div class="business-card__img">
            <picture>
              <source srcset="img/business2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/business2.png"
                class="image"
                alt="Business img"
              />
            </picture>
          </div>
          <h3 class="business-card__title">Экспорт нефтепродуктов</h3>
          <span class="business-card__num">02</span>
        </div>

        <div class="business-card swiper-slide">
          <div class="business-card__img">
            <picture>
              <source srcset="img/business3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/business3.png"
                class="image"
                alt="Business img"
              />
            </picture>
          </div>
          <h3 class="business-card__title">
            Перевалка <br />
            масел
          </h3>
          <span class="business-card__num">03</span>
        </div>

        <div class="business-card swiper-slide">
          <div class="business-card__img">
            <picture>
              <source srcset="img/business4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/business4.png"
                class="image"
                alt="Business img"
              />
            </picture>
          </div>
          <h3 class="business-card__title">
            Транспортно -эспедиторские услуги
          </h3>
          <span class="business-card__num">04</span>
        </div>

        <div class="business-card swiper-slide">
          <div class="business-card__img">
            <picture>
              <source srcset="img/business5.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/business5.png"
                class="image"
                alt="Business img"
              />
            </picture>
          </div>
          <h3 class="business-card__title">
            Бункеровка <br />
            судов
          </h3>
          <span class="business-card__num">05</span>
        </div>
      </div>

      <div class="business-swiper__pagination">
        <button class="btn btn-reset btn--small business-swiper__prev">
          <svg>
            <use xlink:href="#btn"></use>
          </svg>
        </button>

        <button class="btn btn-reset btn--small business-swiper__next">
          <svg>
            <use xlink:href="#btn"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
