<section class="carrier">
  <div class="carrier__container container">
    <div class="carrier__inner">
      <div class="carrier__content">
        <div class="title-page hero-title carrier__title">
          <h1>Карьера</h1>
          <span>Карьера</span>
        </div>
        <div class="carrier__text">
          <p class="text-page hero-text">
            Сегодня ООО «КТТ» – команда профессионалов, объединенных общими
            целями и задачами, направленными на развитие компании и ее новых
            направлений.
          </p>

          <p class="text-page hero-text">
            Все специалисты КТТ имеют многолетний опыт работы в сфере трейдинга,
            логистики и поставок нефтепродуктов.
          </p>

          <p class="text-page hero-text">
            Кадровая политика компании направлена на привлечение специалистов,
            умеющих работать в команде, проявляющих инициативу и стремящихся к
            профессиональному росту и развитию.
          </p>
        </div>
      </div>

      <div class="carrier__img">
        <picture>
          <source srcset="img/carrier.webp" type="image/webp" />
          <img loading="lazy" src="img/carrier.png" class="image" alt="About" />
        </picture>
      </div>

      <svg class="carrier__anim">
        <use xlink:href="#carrier-anim"></use>
      </svg>
    </div>

    <!-- test --><!--  -->

    <a href="#application" class="scroll-to main-scroll" data-scroll>
      <svg>
        <use xlink:href="img/sprite.svg#scrollTo"></use>
      </svg>
      <span>Подробнее</span>
    </a>
  </div>
</section>
