<section class="contacts">
  <div class="container contacts-container">
    <div class="title-page hero-title">
      <h1>контакты</h1>
      <span>контакты</span>
    </div>

    <div class="contacts-items">
      <div class="contacts-item">
        <h3 class="contacts-item__title">Адрес</h3>
        <div class="contacts-item__info">
          <svg>
            <use xlink:href="img/sprite.svg#map2"></use>
          </svg>
          <span
            >194044, г. Санкт-Петербург, Финляндский пр., д. 4, литер <br />
            А, офис 707</span
          >
        </div>
      </div>

      <div class="contacts-item">
        <h3 class="contacts-item__title">Телефон</h3>
        <div class="contacts-item__info">
          <svg>
            <use xlink:href="img/sprite.svg#phone2"></use>
          </svg>
          <span>(812) 332-47-31</span>
        </div>
      </div>

      <div class="contacts-item">
        <h3 class="contacts-item__title">Почта</h3>
        <div class="contacts-item__info">
          <svg>
            <use xlink:href="img/sprite.svg#mail"></use>
          </svg>
          <span>info@ktt.spb.ru</span>
        </div>
      </div>
      <div class="contacts-item">
        <h3 class="contacts-item__title">Рабочие часы</h3>
        <div class="contacts-item__info">
          <svg>
            <use xlink:href="img/sprite.svg#time"></use>
          </svg>
          <span
            >Пн – Пт: 09:00AM – 09:00PM <br />
            Сб: 09:00AM – 07:00PM</span
          >
        </div>
      </div>
    </div>
  </div>

  <svg class="contacts-anim">
    <use xlink:href="#contacts-anim"></use>
  </svg>
</section>

<section class="contacts-feedback container">
  <div class="feedback">
    <div class="feedback__container">
      <div class="feedback-form container">
        <h2 class="title-page feedback-title">Мы всегда на связи</h2>
        <p class="text-page feedback-text">
          Оставьте свои данные и мы свяжемся с вами любым удобным для вас
          способом
        </p>
        <form class="form">
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#user"></use>
            </svg>
            <input
              class="input-reset form__input form__input--name"
              placeholder="Ваше имя"
            />
          </label>
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#phone"></use>
            </svg>
            <input
              class="input-reset form__input form__input--phone"
              placeholder="Ваш номер"
            />
          </label>
          <label class="form__label">
            <svg>
              <use xlink:href="img/sprite.svg#mail"></use>
            </svg>
            <input
              class="input-reset form__input form__input--mail"
              placeholder="E-mail"
            />
          </label>
          <button class="form__btn btn btn-reset btn--primary">
            <svg>
              <use xlink:href="#btn"></use>
            </svg>
            <span>Отправить</span>
          </button>
          <label class="custom-checkbox">
            <input
              checked
              type="checkbox"
              class="custom-checkbox__field"
              required
            />

            <p class="custom-checkbox__content">
              Нажимая “отправить” я даю согласие на обработку <br />
              <a href="#">персональных данных</a>
            </p>
          </label>
        </form>
      </div>
    </div>
  </div>

  <div class="contacts-map">
    <h3 class="contacts-map__title">Мы на карте</h3>

    <a href="#" class="contacts-map__link">
      <picture>
        <source srcset="img/map.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/map.png"
          class="image contacts-map__img"
          alt="Map"
        />
      </picture>

      <img
        loading="lazy"
        src="img/marker.png"
        class="image contacts-map__marker"
        alt="Marker"
      />
    </a>
  </div>
</section>
