<section class="application main-shadow" id="application">
  <div class="application-container container">
    <div class="title-page">
      <h2>Оставьте заявку</h2>
      <span>Оставьте заявку</span>
    </div>

    <div class="feedback">
      <h2 class="title-page feedback-title">Мы предлагаем:</h2>
      <ul class="feedback-list list-reset">
        <li class="feedback-item">
          Работу в стабильной развивающейся компании
        </li>

        <li class="feedback-item">Продуманную систему адаптации кадров</li>

        <li class="feedback-item">Конкурентоспособную заработную плату</li>

        <li class="feedback-item">Программу социальной поддержки</li>

        <li class="feedback-item">Корпоративное обучение и карьерный рост</li>
      </ul>
      <div class="feedback__container">
        <div class="feedback-form">
          <svg class="feedback-anim">
            <use xlink:href="#feedback-anim"></use>
          </svg>

          <form class="form">
            <div class="form-fields">
              <label class="form__label">
                <svg>
                  <use xlink:href="img/sprite.svg#user"></use>
                </svg>
                <input
                  class="input-reset form__input form__input--name"
                  placeholder="Ваше имя"
                />
              </label>
              <label class="form__label">
                <svg>
                  <use xlink:href="img/sprite.svg#phone"></use>
                </svg>
                <input
                  class="input-reset form__input form__input--phone"
                  placeholder="Ваш номер"
                />
              </label>
              <label class="form__label">
                <svg>
                  <use xlink:href="img/sprite.svg#mail"></use>
                </svg>
                <input
                  class="input-reset form__input form__input--mail"
                  placeholder="E-mail"
                />
              </label>
              <button class="form__btn btn btn-reset btn--primary">
                <svg>
                  <use xlink:href="#btn"></use>
                </svg>
                <span>Отправить</span>
              </button>
              <label class="custom-checkbox">
                <input
                  checked
                  type="checkbox"
                  class="custom-checkbox__field"
                  required
                />

                <p class="custom-checkbox__content">
                  Нажимая “отправить” я даю согласие на обработку <br />
                  <a href="#">персональных данных</a>
                </p>
              </label>
            </div>

            <div class="form-group file-area" data-da=".form-fields,1200,3">
              <input type="file" multiple="multiple" required />
              <div class="file-dummy">
                <p>Перетяните сюда своё резюме или прикрепите файл</p>
                <svg class="file-icon">
                  <use xlink:href="img/sprite.svg#file"></use>
                </svg>
                <p class="file-success">Файл загружен</p>
                <button class="btn--primary btn-reset file-default">
                  прикрепить файл
                  <svg>
                    <use xlink:href="#file-load"></use>
                  </svg>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
