<section class="hero">
  <svg class="hero-anim">
    <use xlink:href="#hero-anim"></use>
  </svg>

  <svg class="hero-vertical__anim">
    <use xlink:href="#hero-vertical-anim"></use>
  </svg>

  <div class="hero__container container">
    <div class="hero-content">
      <div class="title-page hero-title">
        <h1>топливные технологии</h1>
        <span>топливные технологии</span>
      </div>
      <p class="text-page hero-text">
        Компания КТТ – надежный партнер в сфере продаж и поставок нефтепродуктов
        на внутреннем и экспортном рынках
      </p>
      <a href="page-about.html" class="btn btn-reset btn--primary">
        <svg>
          <use xlink:href="#btn"></use>
        </svg>
        <span>Подробнее</span>
      </a>
    </div>

    <div class="hero-img" data-da=".hero-content,600,1">
      <svg id="Shine-animate-svg">
        <use xlink:href="#hero-shine"></use>
      </svg>

      <img
        loading="lazy"
        src="img/hero.png"
        class="hero-sub image"
        alt="Hero"
      />

      <svg class="hero-load hero-load--1">
        <use xlink:href="#hero-load-1"></use>
      </svg>

      <svg class="hero-load hero-load--2">
        <use xlink:href="#hero-load-2"></use>
      </svg>

      <svg class="hero-load hero-load--3">
        <use xlink:href="#hero-load-3"></use>
      </svg>
    </div>
  </div>

  <a href="#about" class="scroll-to" data-scroll>
    <svg>
      <use xlink:href="img/sprite.svg#scrollTo"></use>
    </svg>
  </a>
</section>
