<section class="leaders main-shadow">
  <div class="leaders-container">
    <div class="title-page leaders-title">
      <h2>Лидеры в отрасли</h2>
      <span>Лидеры в отрасли</span>
    </div>

    <div class="leaders-content">
      <div class="swiper leaders-swiper">
        <div class="leaders-items swiper-wrapper">
          <div class="leader-card swiper-slide">
            <svg class="leader-card__anim">
              <use xlink:href="#leader-card-anim-ex"></use>
            </svg>
            <h3 class="leader-card__title leader-card__title--on">Опыт</h3>
            <div class="leader-card__content">
              <h3 class="leader-card__title leader-card__title--off">Опыт</h3>
              <p class="leader-card__text">20 лет работы на рынке</p>
            </div>
            <span class="leader-card__num">01</span>
          </div>

          <div class="leader-card swiper-slide">
            <svg class="leader-card__anim">
              <use xlink:href="#leader-card-anim-rat"></use>
            </svg>

            <h3 class="leader-card__title leader-card__title--on">Рейтинг</h3>
            <div class="leader-card__content">
              <h3 class="leader-card__title leader-card__title--off">
                Рейтинг
              </h3>
              <p class="leader-card__text">
                Топ 10 трейдеров на товарно-сырьевой бирже
              </p>
            </div>
            <span class="leader-card__num">02</span>
          </div>

          <div class="leader-card leader-card--active swiper-slide">
            <svg class="leader-card__anim">
              <use xlink:href="#leader-card-anim-gr"></use>
            </svg>
            <h3 class="leader-card__title leader-card__title--on">Рост</h3>
            <div class="leader-card__content">
              <h3 class="leader-card__title leader-card__title--off">Рост</h3>
              <p class="leader-card__text">
                Рост 2 раза рост поставок <br />
                на внутренний рынок
              </p>
            </div>
            <span class="leader-card__num">03</span>
          </div>
        </div>

        <div class="leaders-swiper__pagination">
          <button class="btn btn-reset btn--small leaders-swiper__prev">
            <svg>
              <use xlink:href="#btn"></use>
            </svg>
          </button>

          <button class="btn btn-reset btn--small leaders-swiper__next">
            <svg>
              <use xlink:href="#btn"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="leaders-images animation-images">
        <picture>
          <source srcset="img/bunker-off.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/bunker-off.png"
            class="image leaders-img--off animation-img--off"
            alt="Image off"
          />
        </picture>

        <picture>
          <source srcset="img/bunker-on.webp" type="image/webp" />
          <img
            loading="lazy"
            src="img/bunker-on.png"
            class="image leaders-img--on animation-img--on"
            alt="Image on"
          />
        </picture>
      </div>
    </div>
  </div>

  <svg class="leaders-horizontal__anim">
    <use xlink:href="#leaders-horizontal-anim"></use>
  </svg>
</section>
