<section class="mission">
  <div class="container mission-container">
    <div class="title-page hero-title">
      <h1>Наша Миссия</h1>
      <span>Наша Миссия</span>
    </div>

    <p class="text-page mission-text">
      Наша миссия – обеспечивать высококлассное качество оказываемых услуг в
      сфере продаж нефтепродуктов и надежные и современные логистические решения
      для партнеров в любой географической точке. Укрепление достигнутых позиций
      путем совершенствования качества предоставляемых
    </p>

    <div class="mission-img">
      <picture>
        <source srcset="img/mission.webp" type="image/webp" />
        <img loading="lazy" src="img/mission.png" class="image" alt="Mission" />
      </picture>
    </div>

    <a href="#strategy" class="scroll-to main-scroll" data-scroll>
      <svg>
        <use xlink:href="img/sprite.svg#scrollTo"></use>
      </svg>
    </a>
  </div>
</section>
